<!DOCTYPE html>
<html>
<head>
    <title>Diet Planner</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="diet-form-container">
        <h1>Diet Planner Form</h1>
        <form method="POST" action="/diet-plan">
            <label><b>Age:</b></label> <input type="text" name="age" required><br>
            <label><b>Gender:</b></label> <input type="text" name="gender" required><br>
            <label><b>Height (in cm):</b></label> <input type="text" name="height" required><br>
            <label><b>Weight (in kg):</b></label> <input type="text" name="weight" required><br>
            
            <input type="submit" value="Get Plan">
        </form>
    </div>
    <a href="index.html">
        <button style="margin-top: 20px; padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">
          Back to Index Page
        </button>
      </a>
      


</div>
    
</body>
</html>

